import { type {{pascalCase name}}Props } from './types';

export const {{pascalCase name}} = ({ ...props }: {{pascalCase name}}Props) => (
  <div {...props}>
    <h1>{{pascalCase name}}</h1>
  </div>
);
